@model kr_avt.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Изменить</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Пользователь</legend>

        @*@Html.HiddenFor(model => model.Id)*@

        <div class="editor-label">
            @*@Html.LabelFor(model => model.RoleName, "Role")*@
            <h4>Роль в системе</h4>
        </div>
        <div class="editor-field">
            @Html.DropDownList("RoleName", String.Empty)
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Surname)*@
            <h4>Фамилия</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname)
            @Html.ValidationMessageFor(model => model.Surname)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Name)*@
            <h4>Имя</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.PassportData)*@
            <h4>Паспортные данные</h4>
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PassportData, new { style = "width: 500px; height: 100px" })
            @Html.ValidationMessageFor(model => model.PassportData)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Email)*@
            <h4>Email</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Login)*@
            <h4>Логин</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Password)*@
            <h4>Пароль</h4>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
