@model IEnumerable<kr_avt.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Зарегистрировать нового пользователя", "Create")
</p>
<table>
    <tr>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.Role.Name)*@
            <h4>Роль в системе</h4>
        </th>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.Surname)*@
            <h4>Фамилия</h4>
        </th>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.Name)*@
            <h4>Имя</h4>
        </th>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.PassportData)*@
            <h4>Паспортные данные</h4>
        </th>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.Email)*@
            <h4>Email</h4>
        </th>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.Login)*@
            <h4>Логин</h4>
        </th>
        <th valign="top">
            @*@Html.DisplayNameFor(model => model.Password)*@
            <h4>Пароль</h4>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PassportData)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Login }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Login })
        </td>
    </tr>
}

</table>
