@model kr_avt.Models.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это изделие?</h3>
<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Name)*@
        <h4>Название</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        <h4>Цена</h4>
         @*@Html.DisplayNameFor(model => model.Price)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        <h4>Описание</h4>
         @*@Html.DisplayNameFor(model => model.Description)*@
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться назад", "Index")
    </p>
}
