@model IEnumerable<kr_avt.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Изделия</h2>

<p>
    @Html.ActionLink("Добавить новое изделие", "Create")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            <h4>Название</h4>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Price)*@
            <h4>Цена</h4>
        </th>
        <th>
            <h4>Описание</h4>
            @*@Html.DisplayNameFor(model => model.Description)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new {  id=item.Name }) |
            @Html.ActionLink("Удалить", "Delete", new {  id=item.Name })
        </td>
    </tr>
}

</table>
