<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <section id="login">
            @Html.Partial("_LoginPartical")
        </section>
    </header>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <ul>
        <li>@Html.ActionLink("Главная", "HomePage", "Home")</li>
        @*<li>@Html.ActionLink("Мои заказы", "Index", "Ordering/Index")</li>
        <li>@Html.ActionLink("Акции", "Index", "Action/Index")</li>*@
        <li>@Html.ActionLink("Каталог изделий", "Index", "Product/Index")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
@if (MyRoleProvider.Role(User.Identity.Name, "Администратор") || MyRoleProvider.Role(User.Identity.Name, "Директор"))
{ 
    <li>@Html.ActionLink("Главная", "HomePage", "Home")</li>
     @*<li>@Html.ActionLink("Каталог заказы", "Index", "Ordering/Index")</li>
        <li>@Html.ActionLink("Каталог акций", "Index", "Action/Index")</li>*@
        <li>@Html.ActionLink("Каталог изделий", "Index", "Product/Index")</li>
        <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
    <li>@Html.ActionLink("Каталог пользователей", "Index", "User/Index")</li> }
        
    </ul>
</body>
</html>
