@model kr_avt.Models.Sale

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить эту акцию?</h3>
<fieldset>
    <legend>Sale</legend>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Name)*@
        <h4>Название</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.StartDate)*@
        <h4>Начало проведения</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.StopDate)*@
        <h4>Конец проведения</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StopDate)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Product.Description)*@
        <h4>Изделие</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Discount)*@
        <h4>Скидка</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>

    <div class="display-label">
         @*@Html.DisplayNameFor(model => model.Description)*@
        <h4>Описание</h4>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Удалить" /> |
        @Html.ActionLink("Вернуться назад", "Index")
    </p>
}
