@model IEnumerable<kr_avt.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Акции</h2>

<p>
    @Html.ActionLink("Добавить новую акцию", "Create")
</p>
<table>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Name)*@
            <h4>Название акции</h4>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.StartDate)*@
            <h4>Начало провеения</h4>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.StopDate)*@
            <h4>Конец проведения</h4>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Product.Description)*@
            <h4>Изделие</h4>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Discount)*@
            <h4>Скидка</h4>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            <h4>Описание</h4>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
